{% extends 'base.html' %}
{% block title %}{{result.title}}{{result.name}}{% endblock %}
{%block content%}
<div class="container">
	<div class="waitingSpin">
		<div class="spinner"></div>
	</div>
</div>
<div class="watch_video" data-link = "{{link}}">
	<div class="container">
		{% if movie_tracker %}
		<div class="about--watch--now--film"  data-id="{{result.imdb_id}}" >
			<div class="poster--img--watch--now--film">
				<img src="https://image.tmdb.org/t/p/w500/{{result.poster_path}}" alt="{{result.title}}">
			</div>
			<div class="description--film--now--watch">
				<div class="title--now--film--watch">
					<span class="headline--now--film--watch">{{result.title}}</span>
					<span class="quanity--now--film--watch">HD</span>
					<span class="quanity--now--film--watch">12+</span></div>
					<div class="diff--film--watch">
						<div class="year--film--now--watch"><p><span>Дата выхода:</span> <span>{{result.release_date}}</span></p></div>
						<div class="country--now--film--watch"><p>{{result.production_countries}}</p></div>
						<div class="actors--now--film--watch"><p><span>Бюджет:</span><span>{{result.budget}}$ </span></p></div>
						<div class="rait--now--film--watch"><p><span>Рейтинг:</span> <span>{{result.vote_average}}</span></p></div>
					</div>
					<div class="genres--now--film--watch"><p>{{result.genres}}</p></div>
					<div class="desc--now--film--watch"><p><span>Описание:</span> <span>{{result.overview}}</span></p></div>
					<!-- <div class="wrapp_btn__see">
						<a class="href__see__btn__film">Смотреть онлайн</a>
					</div>  -->
				</div>
			</div>
			{% else %}
			<div class="about--watch--now--film" data-id="{{result.id}}" >
				<div class="poster--img--watch--now--film">
					<img src="https://image.tmdb.org/t/p/w500/{{result.poster_path}}" alt="{{result.name}}">
				</div>
				<div class="description--film--now--watch">
					<div class="title--now--film--watch">
						<span class="headline--now--film--watch">{{result.name}}</span>
						<span class="quanity--now--film--watch">HD</span>
						<span class="quanity--now--film--watch">12+</span></div>
						<div class="diff--film--watch">
							<!-- <div class="sl let__go"><p> Предлагаем вам вовсе бесплатно и без регистрации смотреть онлайн {{result.name}} сериал  в хорошем качестве HD, без рекламы , видео доступно на планшетах , телефонах , на экранах вашего компьютера </p></div> -->

							<div class="year--film--now--watch"><p><span>Дата выхода:</span> <span> {{result.first_air_date}}</span></p></div>
							<div class="country--now--film--watch"><p>{{result.production_countries}}</p></div>
							<div class="actors--now--film--watch"><p>Средний показатель серии: {{result.episode_run_time.0}} мин </p></div>
							<div class="sl"><p>Кол-во эпизодов: {{result.number_of_episodes}} </p></div>
							<div class="sl"><p>Кол-во сезонов: {{result.number_of_seasons}} </p></div>
							<div class="rait--now--film--watch"><p>Рейтинг: {{result.vote_average}}</p></div>
						</div>
						<div class="genres--now--film--watch"><p>{{result.genres}}</p></div>
						<div class="desc--now--film--watch"><p><span>Описание:</span> <span>{{result.overview}}</span></p></div>
<!-- 						<div class="wrapp_btn__see">
							<a class="href__see__btn__film">Смотреть онлайн</a>
						</div>  -->
					</div>
				</div>
				{%  endif %}
				<div class="tab_tr_fl" data-mt="m">

<!-- <div class="swap_btns">
			<p class="swap_on_movie">Смотреть фильм</p>
			<p class="swap_on_trailer">Смотреть Трейлер</p>
		</div> -->
		{% if video == 404 %}
		<p class="smallInfoAboutTranslater" style="text-align: center;">Фильм не найден , возможно фильм ещё не вышел в онлайн</p>
		{% else %}
		<div class="heplerFilmsblockTop">
			<div class="players">
				<a>Плеер 1</a>
			</div>
			<div class="complaint">
				<span class="sendComplaint"><i class="fas fa-exclamation-triangle"></i> Есть жалоба ?</span>
			</div>
		</div>
		<iframe class="video video_if vid_m" src="{{video.iframe_src}}" frameborder="0"  allowfullscreen></iframe>
		<div class="heplerFilmsblockBottom">
			<div class="addFavorites" data-sfc = '800'>
				<a class="item__addFavorites">В избранное <i class="far fa-heart"></i></a >
			</div>
			<div class="sendInSocial">
				<a class="item__sendInSocial" href="#"><i class="fab fa-vk"></i></a>
				<a class="item__sendInSocial" href="#"><i class="fab fa-facebook-f"></i></a>
				<a class="item__sendInSocial" href="#"><i class="fab fa-odnoklassniki"></i></a>
				<a class="item__sendInSocial" href="#"><i class="fab fa-twitter"></i></a>
				<a class="item__sendInSocial" href="#"><i class="fab fa-google-plus-g"></i></a>
			</div>
		</div>
		{% endif %}
	</div>
	{% if similar != 404 %}
	{% if movie_tracker %}
	<h2 class="reColor" style="color:#fff; text-align: center; margin-top: 40px;margin-bottom: 30px">Похожие фильмы </h2>
	{% else %}
	<h2 class="reColor" style="color:#fff; text-align: center; margin-top: 40px;margin-bottom: 30px">Похожие сериалы </h2>
	{% endif %}
	{% endif %}

</div>	
<div class="similar_bg">
	<div class="container">
		<div class="similar_slider">
			{% if movie_tracker %}
			{% if similar != 404 %}
			{% for i in similar %}
			<div class="new_movie" data-id="{{i.id}}">
				<a href="/see?movie={{i.id}}" class="btn_href_see">
					<div class="img--poster"><img src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}" /></div>
					<div class="about--film">
						<div class="title--film"><p class="title__df__quality reColor">{{i.title}}</p></div>
						<div class="vote_average"> <p>Рейтинг imdb: {{i.vote_average}}</p></div>
						<div class="quality__average"><p>HD</p></div>
						<div class="year_genre--film" style="display: none;"><p class="reColor" >{{i.release_date}}</p></div>
					</div>
				</a>
			</div>
			{%endfor%}
			{%endif%}
			{%endif%}
			{%if series_tracker %}
			{% if  similar != 404 %}
			{% for i in similar %}
			<div class="new_movie" data-id="{{i.id}}">
				<a href="/see?series={{i.id}}" class="btn_href_see">
					<div class="img--poster"><img src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}" /></div>
					<div class="about--film">
						<div class="title--film"><p class="title__df__quality reColor">{{i.name}}</p></div>
						<div class="vote_average"> <p>Рейтинг imdb: {{i.vote_average}}</p></div>
						<div class="quality__average"><p>HD</p></div>
						<div class="year_genre--film" style="display: none;"><p class="reColor">{{i.first_air_date}}</p></div>
					</div>
				</a>
			</div>
			{%endfor%}
			{%endif%}
			{%endif%}

		</div>
	</div>
</div>
</div>
<div class="contact--block--us">
	<div class="container">
		<div class="movie__about__contact">
			<h2 class="reColor">Fast Film онлайн кинотеатр</h2>
			<p class="reColor">Смот­реть он­лайн фильмы,сериалы,мультфильмы - в хо­ро­шем ка­че­стве на FastFilm.ru . На на­шем сай­те вы мо­же­те смот­реть он­лайн са­мые раз­но­об­раз­ные се­ри­а­лы, филь­мы. Все ви­део до­ступ­ны для про­смот­ра на смарт­фо­нах, план­ше­тах, на экра­нах ва­ших ком­пью­те­ров. FastFilm.ru – это кон­тент для людей.</p>
		</div>
	</div>
</div>
{% endblock %}